body {
    font-family: 'Segoe UI', sans-serif;
  }
  
  section {
    height: 300px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link:hover {
    color: #ffc107 !important;
  }
  